{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>Due at: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li>Status: Completed</li>
      {% else %}
      <li>Status: Not Completed</li>
      <li>
        あと
        {% if task.days_until_due > 0 %}
            {{ task.days_until_due }}日
        {% elif task.days_until_due == 0 %}
            本日が締切日です
        {% else %}
            締切を過ぎています
        {% endif %}
      </li>
    </ul>

    <div>
      <a href="{% url 'index' %}">Top</a>
      <a href="{% url 'update' task.id %}">Edit</a>
      <a href="{% url 'close' task.id %}">Close</a>
    </div>
  </body>

</html>
